@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    padding: 0;
    margin: 0;
    

}

html {
    padding: 0;
    margin: 0;
}

.header {
    box-shadow: 2px 2px 10px #0404045c;
    border-bottom: 1px solid black;
}

.titulo-principal {
    padding-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
    font-family: 'Shadows Into Light';
}
.banner-contaniner{
    width: 100%;
    display: flex;
    justify-content: center;
}

#banner {
    width: auto;
    margin: 1rem;
    border-radius: 9px;
    box-shadow: 2px 3px 13px 5px black;
}

.principal {
    width: auto;
    padding: 1rem;
    height: auto;
    background-color: #ffffffe1;
}
.utencilios-principal{
    width: 150px;
    border-radius: 2rem;
    float: left;
    margin-right: 1.5rem;
}

.parrafos {
    width: 90%;
    margin: 1rem;
    font-family: 'Shadows Into Light';

}
.principal strong{
    font-weight: bold;
}
em  {
    font-style: italic;
}
.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#ffffffe1,#888888);
}
.iframe-map{
    box-shadow: 2px 1px 10px black;
    border-radius: 2rem;
    transition: 1s all;
}
.iframe-map:hover{
    transform: scale(1.2);
}
.container-diferenciales{
    width: 100%;
    display: flex;
    justify-content: center;
}

.diferenciales {

    background: linear-gradient(#888888,#1D1E1E);
    padding: 30px;
}
.imagenDiferenciales {
    width: 30%;
    margin-bottom: 1rem;
    border: 3px solid gold;
    box-shadow: 7px 2px 12px black;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.items {
    font-style: italic;
    line-height: 1.5;
    color: white;
}
.items::before{
    content: '🎯 ';
}
.items:first-child{
font-weight: bold;
}


.video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}
.video iframe{
    border-radius: 1rem;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: gold;

}

/* Iconos de navegacion del header  */
.navegation {
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: center;

}

/* Lista del header */
.navegation ul {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    z-index: 3;
}

.navegation ul li {
    margin-left: 20px;

}

/* Los elementos de la lista son etiquetas  A */
.a-contendio {
    text-decoration: none;
    color: black;
    text-shadow: 2px 1px 2px rgba(72, 8, 8, 0.515);
    padding: 10px;
    font-family: fantasy;
    color: brown;
    font-size: larger;
    font-weight: bold;

}

.a-contendio:hover {

    background-color: brown;
    border-radius: 20pc;
    /* border-bottom: 1px solid black; */
    color: white;
    box-shadow: inset 6px 4px 3px black, 2px 2px 12px 0px black;


}

/* Contenedor icono contenido header */
.contendor-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 11px;

}

/*  icono de header */
.contendor-icon img {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 10pc;
    border: 1px solid brown;
    box-shadow: 1px 2px 3px 1px #d51d31;
    transition: 1s all;
}

.contendor-icon img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px black;
    transform: scale(1.2) rotate(360deg);
}

/* menu mobile  */
/* Contenedor del menu */
.section-mobile {
    position: absolute;
    right: 8px;
    top: 98px;
    height: auto;
    width: 421px;
}

.elemento-mobile {
    display: flex;
    background: gold;
    width: 100%;
    height: 129px;
    align-items: center;
    /* border-radius: 1pc; */
    justify-content: space-around;
    border-radius: 1px 1px 16px 16px;
    box-shadow: 0px 1px 5px 2px brown, inset 5px -1px 6px 1px black;
    border: 4px solid;
}


.container-Logo {
    width: 100%;
    height: 8pc;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    align-content: center;
    justify-content: center;

}

.container-Logo p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

/* Contenedor de categorias de productos  */

.main-container_product {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding: 10px;
    border: 1px solid;
    border-radius: 10%;
    background: gold;
    box-shadow: 1px 4px 3px 4px brown;
    margin-bottom: 16px;
    height: 90%;
    transition: 1s all;
}

.main-container_product:hover {
    box-shadow: inset 1px 1px 7px 5px brown;
    cursor: pointer;
    transform: scale(1.2);
}

.container-name {
    font-family: 'Shadows Into Light';
    font-size: 2rem;
    margin-bottom: 6px;
    color: brown;
}

.container-name:hover {
    font-size: 2rem;
}

.valueProduct {
    font-family: 'Font Awesome 6 Free';
    font-weight: bolder;
}

.valueDescription {
    font-family: 'Shadows Into Light';
    font-size: 1rem;
}

/* Tamaño y transparencia de la img */
.logo {
    width: 240px;
    height: 240px;
    mix-blend-mode: color-burn;
}

/* clase para cerrar */
.disable {
    display: none;
}

/* Footer */
.footer-container {
    width: 100%;
    height: 10pc;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./imagenes/bg.jpg");
    position: relative;
    bottom: 0;
}

.footer-container img {
    width: 100px;
}

/* Estilos del formulario */

.section-content {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-content form {
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light';
    width: 70%;
    height: auto;
    text-align: center;
}

.section-content form label {
    font-size: 1.5rem;
}

.section-content form input {
    margin-bottom: 20px;
    border: 7px solid brown;
    height: 50px;
    margin-top: 8px;
    box-shadow: 1px 1px 9px black;
    text-align: center;

}

.section-content textarea {
    text-align: center;
    padding: 10px;
    margin: 6px;
    border: 4px solid brown;
    box-shadow: 1px 1px 9px black;
}

#btn-button {
    background: gold;
    box-shadow: 2px 2px 9px black;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Shadows Into Light';
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    transition: 1s all;
}

#btn-button:hover {
    box-shadow: inset 2px 2px 9px black;
    transform: scale(1.10);
}

.label-medioContacto {
    margin: 8px;
    color: black;
    font-weight: bold;
}

.radios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    gap: 8px;
}

#radio-email,
#radio-phone,
#radio-wsp {
    width: 3pc;
    margin: 0;
    cursor: pointer;
    box-shadow: 2px 2px 9px black;

}

#radio-email:hover,
#radio-phone:hover,
#radio-wsp:hover {
    box-shadow: inset 2px 2px 9px black;
    border-radius: 10pc;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 20px;
}

#label-checkbox {
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
}

#label-checkbox:hover {
    box-shadow: inset 2px 2px 9px black;
}

/* Select Formulario */
.select-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    color: gold;
    margin: 20px;
}
.select-form select {
    width: 200px;
    height: 50px;
    text-align: center;
    border: 4px solid brown;
    box-shadow:  2px 2px 9px black;
    font-family: 'Font Awesome 6 Free';
    cursor: pointer;
}
.select-form label 
{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
/* Estilos de la tabla */
.form-table{
height: auto;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
font-size: 1.5rem;
background: gold;
border: 4px solid brown;
border-radius: 14px;
box-shadow: -14px 5px 12px 4px brown;
}
.form-table td{
    padding: 6px;
}
.td-title{
    font-weight: bolder;
    font-family: monospace;

}
/* version mobile first */

/* Tamaño menor */

/* Tamaño 540 - 700 */

@media (max-width: 540px) {
    .section-mobile {
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .container-Logo p {
        display: none;
    }

    .elemento-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .a-contendio {
        font-size: 2rem;
    }

}

/* minimo del container uso minimo para hacer respansivo los contenedores  */

@media (min-width: 200px) {
    .main-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        margin-top: 71px;
        margin-bottom: 110px;
    }

}

@media (min-width: 500px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width: 800px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Pantalla de 700 -- 1300 */
@media (max-width: 700px) {
    .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        background: gold;
        height: 8pc;
    }

    .container-Logo img {
        background-color: brown;
        border-radius: 20pc;
        border-bottom: 1px solid black;
        color: white;
        box-shadow: inset 6px 3px 3px 0px black;
        z-index: 3;
    }

    .container-Logo p {
        width: 100%;

    }

    .navegation ul {
        display: none;
    }
    .imagenDiferenciales , .ul-items{
        width: 50%;
    }
}
@media (max-width:500px){
.radios{
    flex-direction: column;
}
.label-checkbox{
    flex-direction: column;
}

}


/* Version destock - table */
@media (max-width:1300px) {

    .header {

        height: 6pc;

    }

    .container-Logo {

        position: absolute;
        top: 0;
        left: 0;

    }

    .navegation {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
        justify-content: center;
        /* margin: 43px; */
        height: 40px;
    }

    .navegation ul {
        width: 100%;
        justify-content: center;
        margin-right: 10px;
        align-items: center;
    }

    .container-Logo img {
        width: 100px;
        height: 140px;
        position: absolute;
        top: 13px;
        left: 18px;
        border: 1px solid;
        border-radius: 20px;
        background: brown;
        opacity: 88%;
        box-shadow: inset 5px 4px 18px 0px black;
    }

}